<h3><i class="fas fa-comment"></i>Blog</h3>
<div class="section">
  <p class="lead"> Create public and private blogs</p>
</div>

<div class="divider"></div>
<div class="section">  
  <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google"></i>
    Login with Google
  </a>
</div>